* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.navbar,
.hero,
footer {
  background-color: #1f2937;
}

nav {
  margin-right: 250px;
  margin-left: 250px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
}

.logo-text {
  font-size: 24px;
  color: #f9faf8;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  width: 100%;
  /* border: 1px solid white; */
  padding: 150px 0px 150px 0px;
  display: flex;
  justify-content: center;
}

.section1 {
  float: left;
  text-align: left;
}

.section2 {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6d747d;
}

.section1,
.section2 {
  width: 33%;
  height: 300px;
  margin: 50px;
  padding: 10px 20px 10px 20px;
  /* border: 1px solid white; */
}

.hero-btn {
  font-size: 20px;
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
}

.img-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6d747d;
}

.info-section {
  width: 100%;
  padding: 50px 0px 50px 0px;
  display: flex;
  justify-content: center;
}

.info-header-text {
  margin-bottom: 50px;
  font-size: 2.25rem;
  font-weight: 900;
  color: #1f2937;
}

.info-container {
  text-align: center;
}

.box-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22%;
  margin: 10px;
  vertical-align: top;
}

.inline-div {
  width: 200px;
  height: 200px;
  border: 4px solid #3882f6;
  border-radius: 10px;
  padding: 9px;
}

.text-under {
  margin-top: 10px;
  display: block;
  justify-content: center;
  text-align: center;
}

.quote-section {
  width: 100%;
  /* height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.quote {
  width: 68%;
  padding: 70px;
  font-size: 2.25rem;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
}

span {
  display: block;
  text-align: end;
  font-size: 1.5rem;
  font-weight: bold;
}

.call-to-action {
  width: 100%;
  padding: 80px;
  margin-right: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-message-container { 
  width: 80%;
  padding: 50px 150px 50px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
  color: #f9faf8;
}

.cta-btn {
  font-size: 20px;
  color: #f9faf8;
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
}

footer {
  width: 100%;
  padding: 40px 0px 40px 0px;
  display: flex;
  justify-content: center;
  color: #f9faf8;
  font-size: 1.1rem;
  text-align: center;
}
